@use '@/assets/style/mixin' as *;

@include b(batch-buttons) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @include e(left) {
    display: flex;
    align-items: center;
  }

  @include e(right) {
    display: flex;
  }
}

@include b(select-text) {
  margin-right: 8px;

  @include e(num) {
    color: #409eff;
  }
}

@include b(form-box) {
  display: flex;
  flex-wrap: wrap;
  .el-form-item {
    min-width: 33%;

    &.double-span-item {
      min-width: 66%;
    }
  }
}

@include b(table-item) {
  @include e(label) {
    font-weight: 600;
    color: #262626;
  }
}

@include b(price-text) {
  color: #f33b50;
}

@include b(operation-box) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .el-button {
    padding: 0;
    height: 22px;
  }
  .el-button + .el-button {
    margin: 0;
  }
}

@include b(product-info) {
  width: 100%;
  display: flex;
  padding-bottom: 16px;

  &:not(:first-of-type) {
    border-top: 1px solid #ebeef5;
  }

  @include e(img) {
    min-width: 60px;
    height: 60px;
    margin-right: 4px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
  }

  @include e(title) {
    font-weight: 600;
    color: #262626;
    margin-bottom: 8px;
  }

  @include e(content-box) {
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #8f8f8f;
  }

  @include e(text) {
    font-size: 12px;
  }

  @include e(price-box) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 24px;
    color: #262626;
    * {
      font-weight: 600;
    }
  }
}

@include b(order-table) {
  :deep(th) {
    color: #262626;
    .cell {
      font-weight: 600;
    }
  }
  :deep(.el-table__row) {
    td {
      vertical-align: top;
      color: #262626;
    }
  }
}

@include b(page-box) {
  margin-top: 24px;

  .el-pagination {
    width: fit-content;
    margin-left: auto;
  }
}

@include b(waybill-company) {
  width: fit-content;
  font-size: 12px;
  line-height: 18px;
  padding: 2px 4px;
  color: #535353;
  border-radius: 4px;
  background-color: #d9d9d9;
}

@include b(status-box) {
  display: flex;
  align-items: center;

  @include e(icon) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #8f8f8f;
    margin-right: 4px;

    &.warning {
      background-color: #f08433;
    }

    &.process {
      background-color: #3768fa;
    }

    &.success {
      background-color: #00b26f;
    }

    &.error {
      background-color: #f33b50;
    }
  }

  @include e(text) {
  }
}

@include b(refund-record) {
  padding: 0 !important;
}
