/*
 * @Autor: jiangzupei
 * @Description: 
 * @Date: 2025-07-03 15:48:18
 * @LastEditors: jiangzupei1 jiangzupei1@jd.com
 * @LastEditTime: 2025-08-21 15:05:44
 * @FilePath: /orange-man/src/views/promotions-activity/index.scss
 */
@use '@/assets/style/mixin' as *;

@include b(batch-buttons) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @include e(left) {
    display: flex;
  }

  @include e(right) {
    display: flex;
  }
}

@include b(operation-box) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .el-button {
    padding: 0;
    height: 22px;
  }
  .el-button + .el-button {
    margin: 0;
  }
}

@include b(activity-table) {
  :deep(th) {
    color: #262626;
    .cell {
      font-weight: 600;
    }
  }
  :deep(.el-table__row) {
    td {
      vertical-align: top;
      color: #262626;
    }
  }
}

@include b(page-box) {
  margin-top: 24px;

  .el-pagination {
    width: fit-content;
    margin-left: auto;
  }
}
