@use '@/assets/style/mixin' as *;

@include b(export-box) {
  @include e(title) {
    font-size: 16px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 8px;
  }
}

@include b(export-content) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

@include b(export-item) {
  display: flex;
  width: 32%;
  margin-right: 1%;
  box-sizing: border-box;
  margin-bottom: 8px;

  @include e(label) {
    width: 120px;
    text-align: end;
    color: #8f8f8f;
  }

  @include e(text) {
    color: #262626;
  }
}

@include b(export-buttons) {
  display: flex;
}
