@use '@/assets/style/mixin' as *;

@include b(batch-buttons) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @include e(left) {
    display: flex;
  }

  @include e(right) {
    display: flex;
  }
}

@include b(form-box) {
  display: flex;
  flex-wrap: wrap;
  .el-form-item {
    min-width: 33%;
  }
}

@include b(product-info) {
  display: flex;

  @include e(img) {
    min-width: 60px;
    height: 60px;
    margin-right: 4px;
  }

  @include e(title) {
    font-weight: 600;
    color: #262626;
  }
}

@include b(operation-box) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .el-button {
    padding: 0;
    height: 22px;
  }
  .el-button + .el-button {
    margin: 0;
  }
}
